[settings]

# Your Wakapi server URL or 'https://wakapi.dev/api' when using the cloud server
api_url = {{ (keepassxc "Wakapi").URL }}

# Your Wakapi API key (get it from the web interface after having created an account)
api_key = {{ (keepassxc "Wakapi").Password }}